{
  "trailingComma": "es5",
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
