{
  "plugins": [
    "stylelint-prettier",
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-no-indistinguishable-colors"
  ],
  "rules": {
    "prettier/prettier": true,
    "plugin/declaration-block-no-ignored-properties": true,
    "plugin/stylelint-no-indistinguishable-colors": true
  },
  "extends": ["stylelint-config-recommended-scss"]
}
