// # Outdated browser alert component

@use "../lib/variables/theme";
@use "../lib/variables/gap";

// The following code is intentionally minimalistic. Feel free to tweak it.
// The point here is to hide the component when the browser has a decent CSS support
// and to keep it visible otherwise (using `@supports`)

// Usage example :
// ```html
// <p class="browser-upgrade">
//   You're using an outdated browser
// </p>
// ```

// Please update, add or remove the styles below to match the project needs.

.browser-upgrade {
  background: theme.$color-warning;
  padding: gap.$xs;
  margin-bottom: 0;

  // Consider browsers without support of `@support` rule as outdated (ie. IE11)
  // See https://caniuse.com/css-featurequeries
  @supports (display: flex) {
    // Hide message for decent browsers
    display: none;
  }
}
