@charset "UTF-8";

// # Font-faces
//
// This file only contains font faces and is included once at the beginning
// of the main entry file.
//
// ```
// @font-face {
//   font-family: $font-name-example;
//   src: url("../fonts/example-font.eot");
//   src: url("../fonts/example-font.eot?#iefix") format("embedded-opentype"),
//     url("../fonts/example-font.woff2") format("woff2"),
//     url("../fonts/example-font.woff") format("woff"),
//     url("../fonts/example-font.ttf") format("truetype"),
//     url("../fonts/example-font.svg#example-font") format("svg");
//   font-weight: map-get($font-weight-example, medium);
//   font-style: normal;
// }
// ```
